{% block sw_cms_block_blog_video %}
    <div class="sw-cms-block-blog-video">
        <slot name="video"></slot>
        {% block sw_cms_block_blog_video_slot %}{% endblock %}
    </div>
{% endblock %}