{% block sw_cms_block_blog_video_preview %}
    <div class="sw-cms-preview-blog-video">
        <img
                class="sw-cms-preview-blog-video__img"
                :src="'/administration/static/img/cms/preview_youtube.jpg' | asset"
                alt=""
        >
        <img
                class="sw-cms-preview-blog-video__icon"
                :src="'/administration/static/img/cms/youtube-icon.png' | asset"
                alt=""
        >
    </div>
{% endblock %}
